.wrapper {
  height: 60px;
  background-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
}
@font-face {
  font-family: Futura PT;
  src: url('./fonts/ghostbold-webfont.woff') format('woff');
}
.ghostElement {
  position: absolute;
  width: 71px;
  height: 20px;
  left: 371px;
  top: 30px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.loginButton {
  position: absolute;
  width: 100px;
  height: 50px;
  left: 1450px;
  top: 15px;

  background-color: #000000;
  border-radius: 50px;
}
.loginButton span {
  position: absolute;
  width: 40px;
  height: 20px;
  left: 30px;
  top: 15px;

  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-align: center;

  color: #ffffff;
}

.navigation {
  position: absolute;
  width: 680px;
  height: 20px;
  left: 620px;
  top: 30px;
  display: flex;
  margin-left: 30px;
  color: black;
}
.navigation a {
  //position: absolute;
  text-decoration: none;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  margin-left: 30px;
  color: black;
  text-decoration: none;
}
