.image {
    position: absolute;
    width: 1422px;
    height: 680px;
    left: 280px;
    top: 193px;

    background: url('./images/Asset 1@2x 2.svg');
}
@font-face {
    font-family: Futura PT Cond;
    src: url('../fonts/FuturaPT-ExtraBold.woff') format('woff');
}
.h1 {
    position: absolute;
    width: 625px;
    height: 80px;
    left: 368px;
    top: -33px;

    font-family: Futura PT Cond;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
.h2 {
    position: absolute;
    width: 440px;
    height: 35px;
    left: 460px;
    top: 47px;

    font-family: Futura PT Cond;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;   
}
.notAvailableButton{
    position: absolute;
    width: 246px;
    height: 70px;

    background: #FFD200;
    border-radius: 100px;
}
.notAvailableButton span{
    position: absolute;
    width: 126px;
    height: 25px;
    left: 40px;
    top: 22px;

    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    color: #000000;
}
.notAvailableButton img {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 176px;
    top: 20px;
}